<div id="{{ entity_lc }}_form_container" class="hide" data-bind="with: {{ entity_lc }}Model">
    <form id="{{ entity_lc }}_form" class="form-horizontal" data-bind="attr: { 'action': formAction() }" method="post" {{ "{{ form_enctype("~ entity_lc ~"Form) }}" }}>
{% for field in fields %}
{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
        {{ "{{ form_row("~ entity_lc ~"Form."~ field.fieldName ~"s) }}" }}    
{% else %}
        {{ "{{ form_row("~ entity_lc ~"Form."~ field.fieldName ~") }}" }}    
{% endif %}
{% endfor %} 
        {{ "{{ form_widget("~ entity_lc ~"Form._token) }}" }}
        {{ "{{ form_rest("~ entity_lc ~"Form) }}" }}        
        <div class="form-actions" data-bind="visible: formMode() == 'new'">
            <input type="submit" class="btn-primary btn" value="Add {{ entity }}"/>
            <a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_list') }}" }}" class="closeDialog btn">Cancel</a>
        </div>
        <div class="form-actions" data-bind="visible: formMode() == 'edit'">
            <input type="submit" class="btn-primary btn" value="Update {{ entity }}"/>
            <a href="#" class="btn destroyDialog">Cancel</a>
            <a id="delete_{{ entity_lc }}" data-bind="attr: { 'href': '{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_delete', {'id': ''}) }}" }}/'+ {{ entity_lc }}Id() }" class="btn btn-danger pull-right">Delete</a>
        </div>
    </form>
</div>
