<div id="{{ entity_us }}_form_container" class="hide" data-bind="with: {{ entity_cc }}Model">
    <form id="{{ entity_us }}_form" class="form-horizontal" data-bind="validate: true, attr: { 'action': formAction() }" method="post" {{ "{{ form_enctype("~ entity_cc ~"Form) }}" }}>
{% for field in fields %}
{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
        {{ "{{ form_row("~ entity_cc ~"Form."~ field.fieldName ~"s) }}" }}    
{% else %}
        {{ "{{ form_row("~ entity_cc ~"Form."~ field.fieldName ~") }}" }}    
{% endif %}
{% endfor %} 
        {{ "{{ form_widget("~ entity_cc ~"Form._token) }}" }}
        {{ "{{ form_rest("~ entity_cc ~"Form) }}" }}        
        <div class="form-actions" data-bind="visible: formMode() == 'new'">
            <button type="submit" class="btn-new">Add {{ entity }}</button>
            <a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_list') }}" }}" class="btn-cancel">Cancel</a>
        </div>
        <div class="form-actions" data-bind="visible: formMode() == 'edit'">
            <button type="submit" class="btn-update">Update {{ entity }}</button>
            <a href="#" class="btn-cancel">Cancel</a>
            <a id="delete_{{ entity_cc }}" data-bind="click: {{ entity_cc }}ListModel.delete{{ entity }}, attr: { 'href': '{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_delete') }}" }}/'+ {{ entity_cc }}Id() }" class="btn-delete">Delete</a>
        </div>
    </form>
</div>
