{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div data-bind="with: {{ entity_cc }}ListModel">
        <h1>{{ entity | camelCaseToTitle }} List</h1>
        <a href="#" class="btn btn-new throw-right" data-bind="click: new{{ entity }}">New {{ entity | camelCaseToTitle }}</a>
        <hr />
        {{ "{% include '"~ bundle_name~":"~ entity ~":table.html.twig' %}" }}
        {{ "{% include '"~ bundle_name~":"~ entity ~":form.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}
{{ "{% block customJS %}" }}
    function appViewModel() {
        this.{{ entity_cc }}ListModel = new {{ entity_cc }}ListModel(
            {{ "{{ "~ entity_cc ~"s | serialize | raw }}" }},
            '{{ "{{ filter }}" }}'
        );
        this.{{ entity_cc }}Model = new {{ entity_cc }}Model(
            null, 
            '{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_new') }}" }}',
            '{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_edit', {'id': ''}) }}" }}'
        );
        this.{{ entity_cc }}ListModel.{{ entity_cc }}Model = this.{{ entity_cc }}Model;
        this.{{ entity_cc }}Model.{{ entity_cc }}ListModel = this.{{ entity_cc }}ListModel;
    };

    ko.applyBindings(new appViewModel());

{{ "{% endblock %}" }}

