{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="row">
        <div class="span12">
            <h1>New {{ entity }}</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {{ "{% include '"~ bundle_name ~":"~ entity ~":form.html.twig' %}" }}
        </div>    
    </div>
{{ "{% endblock %}" }}
{{ "{% block customJS %}" }}
    function appViewModel() {
        this.{{ entity_lc }}Model = new {{ entity_lc }}Model(
            null,
            '{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_new') }}" }}',
            '{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_edit', {'id': ''}) }}" }}'
        );
    };

    ko.applyBindings(new appViewModel());
    
    $('#{{ entity_lc }}_form_container').show();

{{ "{% endblock %}" }}

