<form method="post" action="{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_batch') }}" }}">  
    <table class="tablesorter">
        <thead class="ui-state-default">
            <tr>
                <th class="{sorter: false} check-all" title="Select All"><input type="checkbox" data-bind="checked: checkAll"/></th>
{% for field in fields %}
                <th>{{ field.fieldName | camelCaseToTitle }}</th>
{% endfor %}
                <th class="{sorter: false}" width="75px">&nbsp;</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: {{ entity_cc }}s">
                <tr>
                    <td><input class="selector" type="checkbox" name="selected[]" data-bind="value: id, checked: $parent.checkAll()"/></td>
{% for field in fields %}
                    <td data-bind="text: {{ field.fieldName }}"></td>
{% endfor %}
                    <td><a class="btn-edit" title="Edit this {{ entity | camelCaseToTitle }}" href="#" data-bind="click: function(data, event) { $parent.edit{{ entity }}(data, event) }">edit</a></td>
                </tr>
        </tbody>
        <tbody data-bind="if: {{ entity_cc }}s().length == 0">
            <tr>
                <td colspan="0" class="left-align">0 {{ entity | camelCaseToTitle }}s found.</td>
            </tr>
            <tr>
                <td colspan="0">&nbsp;</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><i class="sprite-arrow_left_up"></i></td> 
                <td colspan="0" class="left-align">
                    <span>
                        {{ "{% if filter != 'Deleted' %}" }}
                            <button type="submit" name="form_action" value="Delete" class="btn-delete no-style confirm" title="Are you sure you want to delete these {{ entity_cc }}s?">Delete</button>
                        {{ "{% else %}" }}
                            <button type="submit" name="form_action" value="Restore" class="btn-restore no-style confirm" title="Are you sure you want to restore these {{ entity_cc }}s?">Restore</button>
                        {{ "{% endif %}" }}
                    </span>
                    <span class="pull-right">Show: <a title="View all {{ entity_cc | camelCaseToTitle }}s" class="{{ "{% if filter == 'All' %}" }}underline{{ "{% endif %}" }}" href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_list', { 'filter': 'All' } ) }}" }}">All</a> | <a title="View all deleted {{ entity_cc | camelCaseToTitle }}s" class="{{ "{% if filter == 'Deleted' %}" }}underline{{ "{% endif %}" }}" href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_us ~"_list', { 'filter': 'Deleted' } ) }}" }}">Deleted</a>
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
</form>
