{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-header">
        <h1>New {{ entityTitle }}</h1>
    </div>
    <form id="{{ bundleAlias }}_{{ entityCC }}_form" class="form-horizontal" method="post" action="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}" {{ "{{ form_enctype(form) }}" }}>  
        {{ "{% include '"~ bundleName ~":"~ entity ~":form.html.twig' %}" }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" title="Create this {{ entityCC }}." value="Create {{ entityTitle }}"/>
            <a class="btn" title="Go back to the list." href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_list') }}" }}">Back to list</a>
        </div>
    </form>
{{ "{% endblock %}" }}
{% block customJS %}
    ;(function(avro, $, undefined) {
        avro.{{ entityCC }}Model = new {{ entityCC }}Model();
{% for field in uniqueManyToOneRelations %}
        avro.available{{ entity }}s = {{ "{{ app.request.attributes.get('"~ entityCC ~"s') | serialize | raw }}" }};
{% endfor %}
    }(window.avro = window.avro || {}, jQuery)); 

    ko.applyBindings(avro.{{ entityCC }}Model);
{% endblock %}
