<div id="searchFormModal" class="modal modal-large hide">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Search {{ entityTitle }}</h3>
    </div>
    <div class="modal-body">
        <div class="error-container"></div>
        <div class="form-content">
{% for field in fields %}
{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
{% else %}
{% if field.fieldName == 'date' %}
            {{ "{{ form_row(form.startDate) }}" }}
            {{ "{{ form_row(form.endDate) }}" }}
{% else %}
            {{ "{{ form_row(form."~ field.fieldName ~") }}" }}    
{% endif %}
{% endif %}
{% endfor %} 
            <hr />
            <span class="span5">
                {{ "{{ form_row(form.orderBy) }}" }}    
            </span>
            <span class="span5">
                {{ "{{ form_row(form.limit) }}" }}    
            </span>
            {{ "{{ form_row(form.isDeleted) }}" }}    
            {{ "{{ form_row(form.direction) }}" }}    
            {{ "{{ form_row(form.offset) }}" }}    
            {{ "{{ form_row(form.filter) }}" }}    
            {{ "{{ form_widget(form._token) }}" }}
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
        <button type="submit" class="btn btn-primary"><i class="sprite-magnifier"></i>Search {{ entity }}s</button>
    </div>
</div>
