{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <h1 class="headline">Edit {{ entity }}</h1>
    <div class="content">    
        <form method="post" action="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_edit', { 'id': "~ entity_lc ~".id }) }}" }}" {{ "{{ form_enctype(form) }}" }}>  
            {{ "{% include '"~ bundle_name ~":"~ entity ~":form.html.twig' %}" }}
            <div>
                <input type="submit" class="button" title="Update the {{ entity_lc }}" value="Update {{ entity }}"/>
            </div>
        </form>
    </div>            
{{ "{% endblock %}" }}
