{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="grid_12">
        <h1 class="pull-left">{{ entity }} List</h1>
        <ul class="buttonDropdown pull-left">
            <li class="dropdown">
                <a href="#" class="button big" data-toggle="dropdown">{{ "{{ filter }}" }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{" {{ path('"~ bundle_alias ~"_"~ entity_lc ~"_list', {'filter': 'All' }) }}" }}">All</a></li>
                    <li><a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_list', {'filter': 'Deleted' }) }}" }}">Deleted</a></li>
                </ul>
            </li>
        </ul>
        <a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_new') }}" }}" class="btn primary pull-right">+ New {{ entity }}</a>
    </div>
    <hr/>
    <div class="grid_12">
        {{ "{% include '"~ bundle_name~":"~ entity ~":table.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}

