{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <h1>New {{ entity }}</h1>
    <hr/>
    <form id="{{ bundle_alias }}_{{ entity_lc }}_form" class="form-horizontal" method="post" action="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_new') }}" }}" {{ "{{ form_enctype(form) }}" }}>  
        {{ "{% include '"~ bundle_name ~":"~ entity ~":form.html.twig' %}" }}
        <div class="form-actions">
            <input type="submit" class="btn-large btn-primary" title="Create this {{ entity_lc }}." value="Create {{ entity }}"/>
            <a class="btn closeDialog" title="Close this form." href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_list') }}" }}">Cancel</a>
        </div>
    </form>
{{ "{% endblock %}" }}
{% block customJS %}

{% endblock %}
