{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <h1>{{ entity }}</h1>
    <hr />
    <table>
        <tbody>
{% for field in fields %}
        <tr>
            <td>{{ field.fieldName|camelCaseToTitle }}:</td>
            <td>{{ "{{ "~ entity_cc ~"."~ field.fieldName ~" }}" }}</td>
        </tr>
{% endfor %}
    </table>            
{{ "{% endblock %}" }}

