{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-header">
        <h1>{{ entityTitle }} List</h1>
        <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}" class="btn btn-primary throw-right">+ New {{ entityTitle }}</a>
    </div>
    <div>
        {{ "{% include '"~ bundleName ~":"~ entity ~":table.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}

