<form method="post" action="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_list') }}" }}">  
    {{ "{% include '"~ bundleName~":"~ entity ~":searchForm.html.twig' %}" }}
    <table class="table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th title="Select All"><input id="selectAll" type="checkbox"/></th>
{% for field in fields %}
{% if field.type != 'manyToOne' and field.type != 'oneToMany' and field.type != 'manyToMany' %}
                <th>{{ field.fieldTitle }}</th>
{% endif %}
{% endfor %}
                <th>Last Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ "{% for "~ entityCC ~" in "~ entityCC ~"s %}" }}
                <tr>
                    <td class="center_align"><input class="selected" type="checkbox" name="selected[]" value="{{ "{{ "~ entityCC ~".id }}" }}"/></td>
{% for field in fields %}
{% if field.type != 'manyToOne' and field.type != 'oneToMany' and field.type != 'manyToMany' %}
                    <td>{{ "{{ " ~ entityCC ~ "." ~ field.fieldName ~" }}" }}</td>
{% endif %}
{% endfor %}
                    <td>{{ "{{" ~entityCC ~".updatedAt | date('Y-m-d') }}" }}</td>
                    <td><a title="Edit this {{ entityCC }}" href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_edit', {'id': "~ entityCC ~".id }) }}" }}"><i class="sprite-pencil"></i>Edit</a></td>
{% for field in fields %}
{% endfor %}
                </tr>
            {{ "{% else %}" }}
                <tr>
                    <td colspan="0">0 {{ entityTitleLC }}s Found</td>
                </tr>
            {{ "{% endfor %}" }}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <i class="sprite-arrow_left_up"></i>
                    <button name="action" value="Edit" class="no-style" title="Edit selected {{ entityTitleLC }}s"><i class="sprite-pencil"></i> Edit</button>
                    {{ "{% if is_granted('ROLE_ADMIN') %}" }}
                        {{ "{% if filter != 'Deleted' %}" }}
                            <button type="submit" name="action" value="Delete" class="no-style confirm" title="Are you sure you want to delete these {{ entityTitleLC }}s?"><i class="sprite-delete"></i> Delete</button>
                        {{ "{% else %}" }}
                            <button type="submit" name="action" value="Restore" class="no-style confirm" title="Are you sure you want to restore these {{ entityTitleLC }}s?"><i class="sprite-arrow-refresh"></i> Restore</button>
                        {{ "{% endif %}" }}
                        <button name="action" value="Export" class="no-style confirm" title="Are you sure you want to export these {{ entityTitleLC }}s?"><i class="sprite-table_save"></i> Export</button>
                    {{ "{% endif %}" }}
                    <span class="pull-right">
                        <a href="#searchFormModal" data-toggle="modal"><i class="sprite-magnifier"></i>Search</a>
                        {{ "{% if is_granted('ROLE_ADMIN') %}" }}
                            <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_import') }}" }}"><i class="sprite-table_add"></i>Import</a>
                        {{ "{% endif %}" }}
                    </span>
                </td>
            </tr>
        </tfoot>
    </table>
    {{ "{{ form_widget(form._token) }}" }}
</form>
