{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-heading">
        <h1>Edit {{ entity }}</h1>
    </div>
    <form id="{{ bundle_alias }}_{{ entity_cc }}_form" class="form-horizontal" method="post" action="{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_edit', { 'id': "~ entity_cc ~".id }) }}" }}" {{ "{{ form_enctype("~ entity_cc ~"Form) }}" }}>  
        {{ "{% include '"~ bundle_name ~":"~ entity ~":form.html.twig' %}" }}
        <div class="form-actions">
            <a id="delete{{ entity }}" class="btn pull-left confirm btn-danger" href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_delete', { 'id': "~ entity_cc ~".id }) }}" }}" title="Are you sure you want to delete this {{ entity_cc }}?">Delete</a>
            <a class="btn" href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_list') }}" }}">Back to list</a>
            <button class="btn" title="Update the {{ entity_cc }}"><i class="sprite-tick"></i> Update {{ entity }}</button>
        </div>
    </form>
{{ "{% endblock %}" }}
{% block customJS %}

{% endblock %}
