{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-heading">
        <h1 class="pull-left">{{ entity }} List</h1>
        <a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_new') }}" }}" class="btn btn-primary pull-right">+ New {{ entity }}</a>
    </div>
    <div class="row">
        {{ "{% include '"~ bundle_name~":"~ entity ~":table.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}

