<div id="{{ entityCC }}FormModal" class="modal hide">
    <form class="form-horizontal" data-bind="submit: bindForm, attr: {'action': {{ entityCC }}Id() ? '{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_edit') }}" }}/'+ {{ entityCC }}Id() : '{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}' }" method="post" {{ "{{ form_enctype("~ entityCC ~"Form) }}" }}>
        <div class="modal-header">
            <a class="close" data-bind="click: closeFormModal">×</a>
            <h3 data-bind="text: modalHeading"></h3>
        </div>
        <div class="modal-body">
            <div id="error-container"></div>
            <div class="form-content">
    {% for field in fields %}{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
                {{ "{{ form_row("~ entityCC ~"Form."~ field.fieldName ~") }}" }}    
    {% else %}
                {{ "{{ form_row("~ entityCC ~"Form."~ field.fieldName ~") }}" }}    
    {% endif %}{% endfor %} 
                {{ "{{ form_widget("~ entityCC ~"Form._token) }}" }}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-bind="click: closeFormModal"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
            <span data-bind="visible: !{{ entityCC }}Id()">
                <button type="submit" class="btn btn-primary"><i class="sprite-tick"></i>Create {{ entity | camelCaseToTitle }}</button>
            </span>
            <span data-bind="visible: {{ entityCC }}Id()">
                <button type="submit" class="btn btn-primary"><i class="sprite-tick"></i>Update {{ entity | camelCaseToTitle }}</button>
                {{ "{% if is_granted('ROLE_ADMIN') %}" }}
                    <a class="btn pull-left" title="Delete {{ entityCC | camelCaseToTitle | lower }}" data-bind="click: avro.{{ entityCC }}ListModel.delete{{ entity }}, attr: { 'href': '{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_delete') }}" }}/'+ {{ entityCC }}Id() }, visible: !isDeleted()"><i class="sprite-delete"></i>Delete</a>
                    <a class="btn pull-left" title="Restore {{ entityCC | camelCaseToTitle | lower }}" data-bind="click: avro.{{ entityCC }}ListModel.restore{{ entity }}, attr: { 'href': '{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_restore') }}" }}/'+ {{ entityCC }}Id() }, visible: isDeleted()"><i class="sprite-arrow_refresh"></i>Restore</a>
                {{ "{% endif %}" }}
            </span>
        </div>
    </form>
</div>
