{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="{{ entityCC }}-form-container">
        {{ "{% include '"~ bundleName~":"~ entity ~":form.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}
{{ "{% block customJS %}" }}

    ;(function(avro, $, undefined) {
        avro.{{ entityCC }}ListModel = new {{ entityCC }}ListModel();
        avro.{{ entityCC }}Model = new {{ entityCC }}Model({
            {{ entityCC }}: null
        });
    }(window.avro = window.avro || {}, jQuery)); 

    ko.applyBindings(avro.{{ entityCC }}Model, $(".{{ entityCC }}-form-container:last")[0]);
{{ "{% endblock %}" }}



