{{ "{% extends '"~ bundle_name ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="{{ entity_cc }}-form-container">
        {{ "{% include '"~ bundle_name~":"~ entity ~":form.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}
{{ "{% block customJS %}" }}

    ;(function(avro, $, undefined) {
        avro.{{ entity_cc }}ListModel = new {{ entity_cc }}ListModel();
        avro.{{ entity_cc }}Model = new {{ entity_cc }}Model({
            {{ entity_cc }}: null
        });
    }(window.avro = window.avro || {}, jQuery)); 

    ko.applyBindings(avro.{{ entity_cc }}Model, $(".{{ entity_cc }}-form-container:last")[0]);
{{ "{% endblock %}" }}



