<div id="searchFormModal" class="modal hide">
    <form id="{{ entityCC }}-search-form" class="form-horizontal" action="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_list') }}" }}" method="post" {{ "{{ form_enctype(searchForm) }}" }} data-bind="searchForm: {{ entityCC }}s">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Search {{ entityCC | camelCaseToTitle }}</h3>
        </div>
        <div class="modal-body">
            <div class="error-container"></div>
            <div class="form-content">
    {% for field in fields %}
    {% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
    {% else %}
    {% if field.fieldName == 'date' %}
                {{ "{{ form_row(searchForm.startDate) }}" }}
                {{ "{{ form_row(searchForm.endDate) }}" }}
    {% else %}
                {{ "{{ form_row(searchForm."~ field.fieldName ~") }}" }}    
    {% endif %}
    {% endif %}
    {% endfor %} 
                {{ "{{ form_row(searchForm.orderBy) }}" }}    
                {{ "{{ form_row(searchForm.isDeleted) }}" }}    
                {{ "{{ form_row(searchForm.limit) }}" }}    
                {{ "{{ form_row(searchForm.direction) }}" }}    
                {{ "{{ form_row(searchForm.offset) }}" }}    
                {{ "{{ form_row(searchForm.filter) }}" }}    
                {{ "{{ form_widget(searchForm._token) }}" }}
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
            <button type="submit" class="btn btn-primary"><i class="sprite-magnifier"></i>Search {{ entity }}s</button>
        </div>
    </form>
</div>
