<form id="editFormModal" class="form-horizontal modal hide" action="{{ "{{ formAction }}" }}" data-backdrop="true" method="POST" {{ "{{ form_enctype(form) }}" }}>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Edit {{ entity }}</h3>
    </div>
    <div class="modal-body">
        {{ "{% include '"~ bundleName ~":"~ entity ~":form.html.twig' %}" }}
    </div>
    <div class="modal-footer">
        <button href="#" class="btn btn-primary btn-large" type="submit"><i class="icon-ok icon-white"></i> Update {{ entity }}</button>
        <a href="#" class="btn close-modal" data-dismiss="modal"><i class="icon-remove"></i>Close</a>
        {{ "{% if "~ entityCC ~".isDeleted %}" }}
            <a class="btn confirm btn-success" href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_restore', { 'id': "~ entityCC ~".id }) }}" }}" title="Are you sure you want to restore this {{ entityTitle }}?"><i class="icon-refresh icon-white"></i>Restore</a>
        {{ "{% else %}" }}
            <a class="btn confirm btn-danger" href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_delete', { 'id': "~ entityCC ~".id }) }}" }}" title="Are you sure you want to delete this {{ entityTitle }}?"><i class="icon-trash icon-white"></i>Delete</a>
        {{ "{% endif %}" }}
    </div>
</form>
