{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-header">
        <h1>
            {{ entity }} List
            <a href="#{{ entityCC }}Form" class="btn btn-success btn-large pull-right" data-toggle="modal"><i class="icon-plus icon-white"></i> New {{ entity }}</a>
        </h1>
    </div>
    {{ "{% include '"~ bundleName~":"~ entity ~":table.html.twig' %}" }}
    {{ "{% if "~ entityCC ~".id %}" }}
        {{ "{% include '"~ bundleName~":"~ entity ~":edit.html.twig' %}" }}
    {{ "{% else %}" }}
        {{ "{% include '"~ bundleName~":"~ entity ~":new.html.twig' %}" }}
    {{ "{% endif %}" }}
{{ "{% endblock %}" }}
{{ "{% block js %}" }}
{{ "{% if app.request.method == 'POST' %}" }}
    $('#cityForm').modal('show');
{{ "{% endif %}" }}
{{ "{% endblock %}" }}
