{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-header">
        <h1>
            {{ entity }} List
            <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}" class="get-modal btn btn-success btn-large pull-right" data-target="#{{ entityCC }}Form" data-toggle="modal"><i class="icon-plus icon-white"></i> New {{ entity }}</a>
        </h1>
    </div>
    {{ "{% include '"~ bundleName ~":"~ entity ~":table.html.twig' %}" }}
{{ "{% endblock %}" }}
