<form id="{{ entityCC }}Form" class="horizontal-form modal hide" action="{{ "{{ app.request.requestUri }}" }}" method="POST">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>New {{ entity }}</h3>
    </div>
    <div class="modal-body">
        {{ "{% include '"~ bundleName ~":"~ entity ~":form.html.twig' %}" }}
    </div>
    <div class="modal-footer">
        <button href="#" class="btn btn-primary btn-large" type="submit"><i class="icon-ok icon-white"></i> Create {{ entity }}</button>
        <a href="#" class="btn close-modal" data-dismiss="modal"><i class="icon-remove"></i> Close</a>
    </div>
</form>
