<div>        
{% for field in fields %}
{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
    <div>
        <label for="{{ bundle_alias }}_{{ entity_us }}_{{ field.fieldName }}s">{{ field.fieldName|camelCaseToTitle }}s</label>
        {{ "{{ form_widget(form."~ field.fieldName ~"s) }}" }}    
    </div>
{% else %}
    <div>
        <label for="{{ bundle_alias }}_{{ entity_us }}_{{ field.fieldName }}">{{ field.fieldName|camelCaseToTitle }}</label>
        {{ "{{ form_widget(form."~ field.fieldName ~") }}" }}    
    </div>
{% endif %}
{% endfor %} 
    {{ "{{ form_rest(form) }}" }}
</div>
