<table id="tableSorter" class="span-24 border">
    <thead class="border-bottom">
        <tr class="ui-state-default">
            <th class="sort">Id</th>
            {% for field in fields %}
                <th class="sort">{{ field}}</th>
            {% endfor %}
            <th>&nbsp</th>
        </tr>
    </thead>
    <tbody class="lines">
    {{ "{% for "~ entity_lc ~" in "~ entity_lc ~"s %}" }}
        <tr class="showOnHover">
            <td><a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_edit', {'id': "~ entity_lc ~".id }) }}" }}" class="view image">{{ "{{ "~ entity_lc ~".id }}" }}</a></td>
            {% for field in fields %}
                <td>{{ "{{ "~ entity_lc ~"."~ field ~" }}" }}</td>
            {% endfor %}
            <td class="dropDown"><a href="#" class="dropDownButton showOnHoverItem">actions</a>
                <ul class="dropDownContent border">
                    <li><a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_edit', {'id': "~ entity_lc ~".id }) }}" }}">edit</a></li>
                    <li><a href="{{ "{{ path('"~ bundle_alias ~"_"~ entity_lc ~"_delete', {'id': "~ entity_lc ~".id }) }}" }}" class="confirm" title="Are you sure you want to delete this {{ entity_lc }}?">delete</a></li>    
                </ul>
            </td>
        </tr>
    {{ "{% else %}" }}
        <tr>
            <td></td><td>0 {{ entity_lc }}s Found</td>
        </tr>
    {{" {% endfor %}" }}
    </tbody>
</table>