{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div id="{{ entityCC }}-list-container">
        <div class="page-header">
            <h1>
                {{ entity | camelCaseToTitle }}s
                <select data-bind="filter: filter">
                    <option value="All">All</option>
                    <option value="Deleted">Deleted</option>
                    <option value="Search">Search</option>
                </select>
            </h1>
            <a href="#" class="btn btn-primary throw-right" data-bind="click: new{{ entity }}"><i class="sprite-add"></i>New {{ entity | camelCaseToTitle }}</a>
        </div>
        {{ "{% include '"~ bundleName~":"~ entity ~":table.html.twig' %}" }}
        {{ "{% include '"~ bundleName~":"~ entity ~":searchForm.html.twig' %}" }}
    </div>
    <div id="{{ entityCC }}-container">
        {{ "{% include '"~ bundleName~":"~ entity ~":form.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}
{{ "{% block customJS %}" }}

    ;(function(avro, $, undefined) {
{% for field in uniqueManyToOneRelations %}
        avro.available{{ field.targetEntityName | ucFirst }}s = {{ "{{ app.request.attributes.get('"~ field.targetEntityName ~"s') | serialize | raw }}" }};
{% endfor %}
        avro.{{ entityCC }}ListModel = new {{ entityCC }}ListModel({
            {{ entityCC }}s: {{ "{{ "~ entityCC ~"s | serialize | raw }}" }}
        });
        avro.{{ entityCC }}Model = new {{ entityCC }}Model();
    }(window.avro = window.avro || {}, jQuery)); 

    ko.applyBindings(avro.{{ entityCC }}ListModel, $("#{{ entityCC }}-list-container")[0]);
    ko.applyBindings(avro.{{ entityCC }}Model, $("#{{ entityCC }}-container")[0]);
{{ "{% endblock %}" }}


