<table id="{{ entityCC }}-table" class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th class="check-all" title="Select All"><input name="check-all" type="checkbox" data-bind="checked: checkAll"/></th>
{% for field in fields %}
{% if field.type != 'oneToMany' and field.type != 'manyToMany' %}
            <th><a href="#" data-bind="orderBy: '{{ field.fieldName }}'">{{ field.fieldName | camelCaseToTitle }}</a></th>
{% endif %}
{% endfor %}
            <th min-width="75px">&nbsp;</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: {{ entityCC }}s">
            <tr>
                <td><input class="selector" type="checkbox" name="selected[]" data-bind="value: id, checked: $parent.checkAll(), attr: {'id': 'selector-' + id}"/></td>
{% for field in fields %}
{% if field.type == 'manyToOne' %}
                <td data-bind="text: ({{ field.fieldName }} ? {{ field.fieldName }}.name : null)"></td>
{% elseif field.type == 'datetime' %}
                <td data-bind="text: ({{ field.fieldName }} ? {{ field.fieldName }}.date(0, 10) : null)"></td>
{% elseif field.type != 'oneToMany' and field.type != 'manyToMany' %}
                <td data-bind="text: {{ field.fieldName }}"></td>
{% endif %}
{% endfor %}
                <td><a class="btn-edit" title="Edit this {{ entity | camelCaseToTitle | lower }}" href="#" data-bind="click: function(data, event) { $parent.edit{{ entity }}(data, event) }"><i class="sprite-pencil"></i>edit</a></td>
            </tr>
    </tbody>
    <tbody data-bind="if: {{ entityCC }}s().length == 0">
        <tr>
            <td colspan="0" class="left-align">0 {{ entity | camelCaseToTitle | lower }}s found.</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100%">
                <a title="Select all" data-bind="click: function(data, event) { checkAll() ? checkAll(false) : checkAll(true) }"><i class="sprite-arrow_left_up"></i></a> 
                <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_getForm') }}" }}" class="btn-edit" title="Batch edit" data-bind="click: batchEdit"><i class="sprite-pencil"></i>Edit</a>
                {{ "{% if is_granted('ROLE_ADMIN') %}" }}
                    |
                    <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_batchDelete') }}" }}" class="btn-delete" title="Batch delete" data-bind="click: batchDelete, visible: filter() != 'Deleted'"><i class="sprite-delete"></i>Delete</a>
                    <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_batchRestore') }}" }}" class="btn-restore" title="Batch restore" data-bind="click: batchRestore, visible: filter() == 'Deleted'"><i class="sprite-arrow_refresh"></i>Restore</a>
                    <span class="pull-right">
                        <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_import') }}" }}"><i class="sprite-table_add"></i>Import</a>
                    </span>
                {{ "{% endif %}" }}
            </td>
        </tr>
    </tfoot>
</table>
<div class="paginator">
    <a class="btn" href="#" data-bind="paginate: 'prev', target: {{ entityCC }}s"><i class="ui-icon ui-icon-triangle-1-w"></i>Prev</a>
    <a href="#" data-bind="text: avro.add(avro.divide(offset(), limit(), 0), 1, 0)"></a>
    <a class="btn" href="#" data-bind="paginate: 'next', target: {{ entityCC }}s">Next<i class="ui-icon ui-icon-triangle-1-e"></i></a>
</div>

