{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <div class="page-heading">
        <h1 class="pull-left">{{ entity }} List</h1>
        <a href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}" class="btn btn-primary pull-right">+ New {{ entity }}</a>
    </div>
    <div class="row">
        {{ "{% include '"~ bundleName~":"~ entity ~":table.html.twig' %}" }}
    </div>
{{ "{% endblock %}" }}

