{{ "{% extends '"~ bundleName ~"::layout.html.twig' %}" }}
{{ "{% block content %}" }}
    <h1>New {{ entity }}</h1>
    <hr/>
    <form id="{{ bundleAlias }}_{{ entityCC }}_form" class="form-horizontal" method="post" action="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_new') }}" }}" {{ "{{ form_enctype("~ entityCC ~"Form) }}" }}>  
        {{ "{% include '"~ bundleName ~":"~ entity ~":form.html.twig' %}" }}
        <div class="form-actions">
            <input type="submit" class="btn-large btn-primary" title="Create this {{ entityCC }}." value="Create {{ entity }}"/>
            <a class="btn closeDialog" title="Close this form." href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_list') }}" }}">Cancel</a>
        </div>
    </form>
{{ "{% endblock %}" }}
{% block customJS %}

{% endblock %}
