<form method="post" action="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_batch') }}" }}">  
    <table id="tableSorter" class="table-condensed table-bordered table-striped">
        <thead>
            <tr>
                <th class="{sorter: false}" title="Select All"><input id="checkAll" type="checkbox"/></th>
{% for field in fields %}
                <th>{{ field.fieldName | capitalize }}</th>
{% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ "{% for "~ entityCC ~" in "~ entityCC ~"s %}" }}
                <tr>
                    <td class="center_align"><input class="selector" type="checkbox" name="selected[]" value="{{ "{{ "~ entityCC ~".id }}" }}"/></td>
                    <td class="showSpriteOnHover"><a title="Edit this {{ entityCC }}" href="{{ "{{ path('"~ bundleAlias ~"_"~ entityCC ~"_edit', {'id': "~ entityCC ~".id }) }}" }}"><i class="sprite-pencil"></i>{{ "{{ "~ entityCC ~".id }}" }}</a></td>
{% for field in fields %}
{% endfor %}
                </tr>
            {{ "{% else %}" }}
                <tr>
                    <td colspan="0">0 {{ entityCC }}s Found</td>
                </tr>
            {{" {% endfor %}" }}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    {{ "{% if "~ entityCC ~"s %}" }}
                        <i class="sprite-arrow_left_up"></i>
                       {{ "{% if filter != 'Deleted' %}" }}
                            <button type="submit" name="form_action" value="Delete" class="btn btn-danger confirm" title="Are you sure you want to delete these {{ entityCC }}s?">Delete</button>
                        {{ "{% else %}" }}
                            <button type="submit" name="form_action" value="Restore" class="btn btn-info confirm" title="Are you sure you want to restore these {{ entityCC }}s?">Restore</button>
                        {{ "{% endif %}" }}
                    {{ "{% else %}" }}
                        &nbsp;
                    {{ "{% endif %}" }}
                </td>
            </tr>
        </tfoot>
    </table>
</form>
