<div class="form-container hide" data-bind="dialog: dialogOptions()">
    <form class="form-horizontal" data-bind="submit: bindForm, attr: {'action': {{ entity_cc }}Id() ? '{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_edit') }}" }}/'+ {{ entity_cc }}Id() : '{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_new') }}" }}' }" method="post" {{ "{{ form_enctype("~ entity_cc ~"Form) }}" }}>
        <div id="error-container"></div>
        <div class="form-content">
{% for field in fields %}{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
            {{ "{{ form_row("~ entity_cc ~"Form."~ field.fieldName ~"s) }}" }}    
{% else %}
            {{ "{{ form_row("~ entity_cc ~"Form."~ field.fieldName ~") }}" }}    
{% endif %}{% endfor %} 
            {{ "{{ form_widget("~ entity_cc ~"Form._token) }}" }}
        </div>
        <div class="form-actions" data-bind="visible: !{{ entity_cc }}Id()">
            <button type="submit" class="btn-create"><i class="sprite-tick"></i>Create {{ entity | camelCaseToTitle }}</button>
            <a href="#" class="btn-cancel"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
        </div>
        <div class="form-actions" data-bind="visible: {{ entity_cc }}Id()">
            <button type="submit" class="btn-update"><i class="sprite-tick"></i>Update {{ entity | camelCaseToTitle }}</button>
            <a href="#" class="btn-cancel"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
            {{ "{% if is_granted('ROLE_ADMIN') %}" }}
                <a class="btn-delete" title="Delete {{ entity_cc | camelCaseToTitle | lower }}" data-bind="click: list.delete{{ entity }}, attr: { 'href': '{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_delete') }}" }}/'+ {{ entity_cc }}Id() }, visible: !isDeleted()"><i class="sprite-delete"></i>Delete</a>
                <a class="btn-restore" title="Restore {{ entity_cc | camelCaseToTitle | lower }}" data-bind="click: list.restore{{ entity }}, attr: { 'href': '{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_restore') }}" }}/'+ {{ entity_cc }}Id() }, visible: isDeleted()"><i class="sprite-arrow_refresh"></i>Restore</a>
            {{ "{% endif %}" }}
        </div>
    </form>
</div>
