<div class="search-form-container hide" data-bind="dialog: searchDialogOptions()">
    <form id="{{ entity_cc }}-search-form" class="form-horizontal" action="{{ "{{ path('"~ bundle_alias ~"_"~ entity_cc ~"_list') }}" }}" method="post" {{ "{{ form_enctype(searchForm) }}" }} data-bind="searchForm: {{ entity_cc }}s">
        <div class="error-container"></div>
        <div class="form-content">
{% for field in fields %}
{% if field.type == 'oneToMany' or field.type == 'manyToMany' %}
            {{ "{{ form_row(searchForm."~ field.fieldName ~"s) }}" }}    
{% else %}
{% if field.fieldName == 'date' %}
            {{ "{{ form_row(searchForm.startDate) }}" }}
            {{ "{{ form_row(searchForm.endDate) }}" }}
{% else %}
            {{ "{{ form_row(searchForm."~ field.fieldName ~") }}" }}    
{% endif %}
{% endif %}
{% endfor %} 
            {{ "{{ form_row(searchForm.orderBy) }}" }}    
            {{ "{{ form_row(searchForm.isDeleted) }}" }}    
            {{ "{{ form_row(searchForm.limit) }}" }}    
            {{ "{{ form_row(searchForm.direction) }}" }}    
            {{ "{{ form_row(searchForm.offset) }}" }}    
            {{ "{{ form_row(searchForm.filter) }}" }}    
            {{ "{{ form_widget(searchForm._token) }}" }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-search"><i class="sprite-magnifier"></i>Search {{ entity }}s</button>
            <a href="#" class="btn-cancel"><i class="ui-icon ui-icon-closethick"></i>Cancel</a>
        </div>
    </form>
</div>
